{:bugs {:resolve-path "resolve-path needs to take into account if path is relative or current directory or not. Need to maybe add :. symbol resolution, and maybe :_ for root or something similar"}, :todo {:metadata "Figure out way to have metadata for 'files' and 'directories' (i.e. timestamps)", :history "Add undo and history tracking of FS_ROOT app-state atom", :prompt "Work out prompt details, maybe show pwd there?", :sorting "Working sorting for ls command", :edit "Edit command that will write contents to temp file, open editor, reload and update upon return", :registry "Create registries: commands (namespaces with public functions), filetypes (maps to :tag in maps), filetype-handlers (works with edit command to open editor for type)", :completions "Add tab completions for commands (public functions from registry of namespaces)"}, :commands_to_implement {}, :README "Test Data"}